# AWS Cognito Auth
NEXT_PUBLIC_COGNITO_REGION=us-east-2
NEXT_PUBLIC_COGNITO_USER_POOL_ID=
NEXT_PUBLIC_COGNITO_CLIENT_ID=
NEXT_PUBLIC_COGNITO_DOMAIN=
NEXT_PUBLIC_REDIRECT_URI=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:4000

# Bedrock (AI Chat Assistant)
BEDROCK_REGION=us-east-1
BEDROCK_MODEL_ID=anthropic.claude-3-haiku-20240307-v1:0
KNOWLEDGE_BASE_ID=

# Cloudflare R2 Storage
NEXT_PUBLIC_R2_PUBLIC_URL=https://assets.ancestro.ai/ancestro
R2_ACCOUNT_ID=
R2_API_TOKEN=

# MetaMap KYC
NEXT_PUBLIC_METAMAP_CLIENT_ID=
NEXT_PUBLIC_METAMAP_FLOW_ID=

# Airtable
AIRTABLE_TOKEN=
AIRTABLE_BASE_ID=
AIRTABLE_CONTACT_FORM=
AIRTABLE_WAITLIST_FORM=
AIRTABLE_INVEST_FORM=
